@model FaceDetection.Models.CollegeDetails;
<style>
    /* Custom CSS */
    .mandatory::after {
        content: "*";
        color: red;
        margin-left: 5px;
    }

    .form-container {
        background-color: #f2f2f2;
        padding: 20px;
        border-radius: 5px;
        margin-top: 20px;
    }

    .status-label {
        margin-right: 10px;
    }

    .close-btn {
        float: right;
        margin-top: -10px;
    }


    .border-danger {
        border-color: red !important;
    }
</style>





<div class="container form-container" id="displanyAddCollege">
    <div class="d-flex justify-content-between align-items-center">
        <h2>College Registration Form</h2>
        <button type="button" class="btn-close close-btn" aria-label="Close" onclick="js_CloseAddCollege()"></button>
    </div>

    <form asp-controller="UserAdmin" asp-action="CollegeAdd" method="post" onsubmit="return js_ValidateCollegeDetails();">
        <div class="mb-3 row">
            <label asp-for="CollegeName" class="col-sm-4 col-form-label mandatory">Name</label>
            <div class="col-sm-8">
                <input asp-for="CollegeName" type="text" class="form-control" id="CollegeName">
                <input asp-for="CollegeID" type="hidden" />
            </div>
        </div>
        <div class="mb-3 row">
            <label asp-for="CollegeCode" class="col-sm-4 col-form-label mandatory">College Code</label>
            <div class="col-sm-8">
                <input asp-for="CollegeCode" type="text" class="form-control" id="CollegeCode">
            </div>
        </div>
        <div class="mb-3 row">
            <label asp-for="CollegeCity" class="col-sm-4 col-form-label mandatory">City/Location</label>
            <div class="col-sm-8">
                <input asp-for="CollegeCity" type="text" class="form-control" id="CollegeCity">
            </div>
        </div>

        @if (ViewBag.Insert == false)
        {

            <!-- College Country Dropdown -->

            <div class="mb-3 row">
                <label asp-for="CollegeCountry" class="col-sm-4 col-form-label mandatory">Country</label>
                <div class="col-sm-8">
                    @Html.DropDownListFor(m => m.CountryID,
                             new SelectList(ViewBag.CountryList, "CountryID", "CountryName", Model.CountryID),
                             "Select a country",
                             new { @class = "form-control", id = "countryDropdown" })
                </div>
            </div>

            <!-- College State Dropdown -->

            <div class="mb-3 row">
                <label asp-for="CollegeState" class="col-sm-4 col-form-label mandatory">State</label>
                <div class="col-sm-8">
                    @Html.DropDownListFor(m => m.StateID,
                             new SelectList(ViewBag.StateList, "StateID", "StateName", Model.StateID),
                             "Select a State",
                             new { @class = "form-control", id = "stateDropdown" })
                </div>
            </div>


        }
        else
        {

            <!-- College Country Dropdown -->
            <div class="mb-3 row">
                <label asp-for="CollegeCountry" class="col-sm-4 col-form-label mandatory">Country</label>
                <div class="col-sm-8">
                    @Html.DropDownList("CountryId", new SelectList(ViewBag.CountryList, "CountryID", "CountryName"), "Select a country", new { @class = "form-control", id = "countryDropdown" })
                </div>
            </div>


            <div class="mb-3 row">
                <label asp-for="CollegeState" class="col-sm-4 col-form-label mandatory">State</label>
                <div class="col-sm-8">
                    @Html.DropDownList("StateId", new SelectList(ViewBag.StateList, "StateID", "StateName"), "Select a state", new { @class = "form-control", id = "stateDropdown" })
                </div>
            </div>
        }


        <!-- College PinCode -->
        <div class="mb-3 row">
            <label asp-for="CollegePinCode" class="col-sm-4 col-form-label mandatory">Pin Code</label>
            <div class="col-sm-8">
                <input asp-for="CollegePinCode" type="text" class="form-control" id="CollegePinCode">
            </div>
        </div>

        <!-- College Admin Name -->
        <div class="mb-3 row">
            <label asp-for="CollegeAdmin" class="col-sm-4 col-form-label mandatory">Admin/Incharger Name</label>
            <div class="col-sm-8">
                <input asp-for="CollegeAdmin" type="text" class="form-control" id="CollegeAdmin">
            </div>
        </div>

        <!-- College Email -->
        <div class="mb-3 row">
            <label asp-for="CollegeMail" class="col-sm-4 col-form-label mandatory">Offical Email</label>
            <div class="col-sm-8">
                <input asp-for="CollegeMail" type="email" class="form-control" id="CollegeMail">
            </div>
        </div>

        <!-- College Phone Number -->
        <div class="mb-3 row">
            <label asp-for="CollegePhone" class="col-sm-4 col-form-label mandatory">Official Phone Number</label>
            <div class="col-sm-8">
                <input asp-for="CollegePhone" type='tel' class='form-control' id='CollegePhone' pattern='[0-9]{10}'>
                <small>Format: 1234567890</small>
            </div>
        </div>

        <!-- College Website -->
        <div class='mb-3 row'>
            <label asp-for="CollegeWebsite" class='col-sm-4 col-form-label mandatory'>College Website</label>
            <div class='col-sm-8'>
                <input asp-for="CollegeWebsite" type='url' class='form-control' id='CollegeWebsite' placeholder='https://example.com'>
            </div>
        </div>

        <!-- College Status Field -->
        <fieldset class='mb-3 row'>
            <label asp-for="IsCollegeActive" class='col-sm-4 col-form-label mandatory'>Status</label>
            <div class='col-sm-8'>
                <input asp-for="IsCollegeActive" type='checkbox' id='IsCollegeActive' class="me-2" />
            </div>
        </fieldset>

        <!-- Submit Button -->
        <button type='submit' class='btn btn-primary'>Submit</button>
    </form>
</div>



<script type="text/javascript">


       $(document).ready(function() {

    @* Validation for the College Code *@
        $("#CollegeCode").on("keydown", function(event) {
            if (event.key === " ") {
                event.preventDefault();
                $(this).addClass("border-danger");
                toastr.error("Spaces are not allowed in College Code.");
            } else {
                $(this).removeClass("border-danger");
            }
        });

    @* Validation for the College Phone *@
        $("#CollegePhone").on("keydown", function(event) {
            var collegePhone = $(this).val();

            // Allow only numeric keys (0-9), backspace, tab, and delete
            if (!((event.key >= '0' && event.key <= '9') ||
                   event.key === "Backspace" ||
                   event.key === "Tab" ||
                   event.key === "Delete")) {
                event.preventDefault();
                $(this).addClass("border-danger");
                toastr.error("Only numbers are allowed in the College Phone Number.");
            } else if (collegePhone.length >= 10 && event.key !== "Backspace") {
                event.preventDefault();
                $(this).addClass("border-danger");
                toastr.error("You can only enter up to 10 digits.");
            } else {
                $(this).removeClass("border-danger");
            }
        });

    @* Additional validation on blur *@
        $("#CollegePhone").on("blur", function() {
            var collegePhone = $(this).val();

            if (!collegePhone || collegePhone.length !== 10) {
                $(this).addClass("border-danger");
                toastr.error("Please enter a valid College Phone/Mobile number (10 digits).");
            } else {
                $(this).removeClass("border-danger");
            }
        });

    @* Validation for the College Pin Code *@
        $("#CollegePinCode").on("keydown", function(event) {
            var pinCode = $(this).val();

            if (!((event.key >= '0' && event.key <= '9') ||
                   event.key === "Backspace" ||
                   event.key === "Tab" ||
                   event.key === "Delete")) {
                event.preventDefault();
                $(this).addClass("border-danger");
                toastr.error("Only numbers are allowed in the Pin Code.");
            } else if (pinCode.length >= 6 && event.key !== "Backspace") {
                event.preventDefault();
                $(this).addClass("border-danger");
                toastr.error("You can only enter up to 6 digits.");
            } else {
                $(this).removeClass("border-danger");
            }
        });

    @* Additional validation on blur *@
        $("#CollegePinCode").on("blur", function() {
            var pinCode = $(this).val();

            if (!pinCode || pinCode.length !== 6) {
                $(this).addClass("border-danger");
                toastr.error("Please enter a valid Pin Code (6 digits).");
            } else {
                $(this).removeClass("border-danger");
            }
        });
    });




    function js_ValidateCollegeDetails()
       {
           debugger;
           var collegeName= $("#CollegeName").val();
           var collegeCode= $("#CollegeCode").val();
           var collegeCity= $("#CollegeCity").val();
           var collegeState= $("#stateDropdown").val();
           var collegeCountry= $("#countryDropdown").val();
           var collegePinCode= $("#CollegePinCode").val();
           var collegeAdmin= $("#CollegeAdmin").val();
           var collegeMail= $("#CollegeMail").val();
           var collegePhone= $("#CollegePhone").val();
           var collegeWebsite= $("#CollegeWebsite").val();

           debugger;
           //College Name
           if(!collegeName){
               $("#CollegeName").addClass("border-danger");
               toastr.error("Please enter the College Name");
               return false;
           }
           else{
                $("#CollegeName").removeClass("border-danger");
           }

           if (collegeCode.includes(" ")) {
            $(this).addClass("border-danger");
            toastr.error("Spaces are not allowed in College Code.");
        } else {
            $(this).removeClass("border-danger");
        }

            if(!collegeCode){
               $("#CollegeCode").addClass("border-danger");
               toastr.error("Please enter the College Code");
               return false;
           }
           else{
                $("#CollegeCode").removeClass("border-danger");
           }

           //College Location City
           if(!collegeCity){
               $("#CollegeCity").addClass("border-danger");
               toastr.error("Please enter the College City");
               return false;
           }
           else{
                $("#CollegeCity").removeClass("border-danger");
           }

           //College State
           if(!collegeState){
               $("#CollegeState").addClass("border-danger");
               toastr.error("Please select the State");
               return false;
           }
           else{
                $("#CollegeState").removeClass("border-danger");
           }


           //College Country
           if(!collegeCountry){
               $("#CollegeCountry").addClass("border-danger");
               toastr.error("Please select the College Country");
               return false;
           }
           else{
                $("#CollegeCountry").removeClass("border-danger");
           }

           //College PinCode
              if(!collegePinCode){
               $("#CollegePinCode").addClass("border-danger");
               toastr.error("Please enter the College Pin Code");
               return false;
           }
           else{
                $("#CollegePinCode").removeClass("border-danger");
           }

           //College Admin
           if(!collegeAdmin){
               $("#CollegeAdmin").addClass("border-danger");
               toastr.error("Please enter the College Admin Name");
               return false;
           }
           else{
                $("#CollegeAdmin").removeClass("border-danger");
           }

           //College Mail
           if(!collegeMail){
               $("#CollegeMail").addClass("border-danger");
               toastr.error("Please enter the College Mail");
               return false;
           }
           else{
                $("#CollegeMail").removeClass("border-danger");
           }


           //College Phone
           if(!collegePhone){
               $("#CollegePhone").addClass("border-danger");
               toastr.error("Please enter the College Phone/Mobile number.");
               return false;
           }
           else{
                $("#CollegePhone").removeClass("border-danger");
           }

           //College Website
           if(!collegeWebsite){
               $("#CollegeWebsite").addClass("border-danger");
               toastr.error("Please enter the College Website Url");
               return false;
           }
           else{
                $("#CollegeWebsite").removeClass("border-danger");
           }


           return true;
       }

</script>